{% extends "base.html" %}


{% block content %}
  <h1>Dobrodosli, {{ user.get_full_name }}!</h1>
  <a href="{% url 'update' user.id %}"><i class="fas fa-edit"></i> Izmeni svoje podatke</a><a href="{% url 'delete-profile' user.id %}"><i class="fas fa-trash-alt ml-4"></i> Obrisi nalog</a>
  <hr class="mb-3">
  {% if fleets %}
    <h4 class="mb-3">Vasi aktivni oglasi:</h4>
    {% for fleet in fleets %}
      <p><a href="{% url 'car' fleet.id %}">{{ fleet }}</a><a href="{% url 'edit-car' fleet.pk %}"><i class="fas fa-edit ml-5"></i></a><a href="{% url 'delete' fleet.pk %}"><i class="fas fa-trash-alt ml-3"></i></a></p>
    {% endfor %}
  {% else %}
    <h4>Trenutno nemate aktivnih oglasa</h4>
  {% endif %}
{% endblock %}