{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block title%}| Login{% endblock %}

{% block content %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}


<div class="row justify-content-center mb-4 ml-2 mr-2 mt-4">
    <div class="col-xs-12 col-md-6 search-form">
        <h2 class="mt-4 text-center">Uloguj se</h2>

        <form method="post" action="{% url 'login' %}" class="mb-4 mt-4">
            {% csrf_token %}

            {{ form.username|as_crispy_field }}
            {{ form.password|as_crispy_field }}
            <input type="submit" value="Uloguj se" class="btn search-button">
            <input type="hidden" name="next" value="{{ next }}">
        </form>
    </div>
</div>


{% endblock %}