{% extends "base.html" %}

{% load crispy_forms_tags %}
{% block content %}



<form method="post" action="{% url 'register' %}">
{% csrf_token %}
<div class="row justify-content-center">
    <div class="col-xs-12 col-md-6 ">
        {{ user_form.email|as_crispy_field }}
        {{ user_form.first_name|as_crispy_field }}
        {{ user_form.last_name|as_crispy_field }}
        {{ user_form.location|as_crispy_field }}
        {{ user_form.address|as_crispy_field }}
        {{ user_form.zipcode|as_crispy_field }}
        {{ user_form.phone|as_crispy_field }}
        {{ user_form.password1|as_crispy_field }}
        {{ user_form.password2|as_crispy_field }}
        
        <input type="submit" value="Kreiraj nalog" class="btn btn-success">
        <p><small class="text-muted">Vec imas kreiran nalog? <a href="{% url 'login' %}" class="ml-2">Uloguj se</a></small></p>
    </div>
</div>

</form>


{% endblock %}