
{% load static %}

<nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
  <a class="navbar-brand mb-2 ml-3" href="{% url 'index' %}"><span class="pol">polovnjaci</span></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'about' %}">O nama |<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link ml-0 pl-0" href="#">Uloguj se |</a>
      </li>
      <li class="nav-item">
        <a class="nav-link ml-0 pl-0" href="#">Registruj se</a>
      </li>
    </ul>
  </div>
</nav>