{% extends 'base.html' %}


{% block content %}
  <h1 class="mb-4 mt-4">O nama</h1>

  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, temporibus architecto labore dignissimos eaque eum laboriosam dolorem ipsam ipsa dolorum beatae non eius vero totam molestiae ut quas est voluptas, vitae fugit? Dolorum alias quasi ex hic voluptates doloribus repudiandae, optio nulla pariatur rem consequuntur suscipit eaque voluptatum nam debitis!</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque vitae, voluptas magnam illo ratione harum rem. Quae dignissimos sunt maxime placeat ullam alias ea totam delectus, quidem sit, labore hic!</p>
  <br>
  <br>
{% endblock %}