#header {
  height: 50px;
  background: #70c1b3;
  color: #fff;
}

#branding h1 {
  color: #fff; 
}

a:link, a:visited {
  color: #247ba0;
}

div.breadcrumbs {
  background: #ffe066;
  color: #50514f;
}

div.breadcrumbs a {
  color: #50514f;
}

div.breadcrumbs a:hover {
  color: #f25f5c;
}

.module h2, .module caption, .inline-group h2 {
  background: #70c1b3;
}


.button, input[type=submit], input[type=button], .submit-row input, a.button {
  background: #70c1b3;
  color: #fff;
}

.button.default, input[type=submit].default, .submit-row input.default {
  background: #70c1b3;
  color: #fff;
}



