{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-8">
            <h1 class="mt-2 mb-5 text-center">Dodaj Oglas</h1>
            <hr class="mt-0 mb-5">
            <form action="{% url 'regcar' %}" method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col-6">
                        {{ car_form.brand_select|as_crispy_field }}
                    </div>
                    <div class="col-6">
                        {{ car_form.car_select|as_crispy_field }}
                    </div>
                </div>
                {{ car_form.obelezje|as_crispy_field }}
                <div class="row">
                    <div class="col-6">
                        {{ car_form.cena|as_crispy_field }}
                    </div>
                    <div class="col-6">
                        {{ car_form.godiste|as_crispy_field }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        {{ car_form.karoserija|as_crispy_field }}
                    </div>
                    <div class="col-6">
                        {{ car_form.gorivo|as_crispy_field }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        {{ car_form.kubikaza|as_crispy_field }}
                    </div>
                    <div class="col-4">
                        {{ car_form.snaga_kw|as_crispy_field }}
                    </div>
                    <div class="col-4">
                        {{ car_form.kilometraza|as_crispy_field }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        {{ car_form.broj_vrata|as_crispy_field }}
                    </div>
                    <div class="col-4">
                        {{ car_form.broj_sedista|as_crispy_field }}
                    </div>
                    <div class="col-4">
                        {{ car_form.menjac|as_crispy_field }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        {{ car_form.boja|as_crispy_field }}
                    </div>
                    <div class="col-4">
                        {{ car_form.klima|as_crispy_field }}
                    </div>
                    <div class="col-4">
                        {{ car_form.registrovan_do|as_crispy_field }}
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-4">
                        {{ car_form.airbag_vozac|as_crispy_field }}
                    </div>
                    <div class="col-4">
                        {{ car_form.airbag_suvozac|as_crispy_field }}
                    </div>
                    <div class="col-4">
                        {{ car_form.centralno_zakljucavanje|as_crispy_field }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        {{ car_form.abs|as_crispy_field }}
                    </div>
                    <div class="col-4">
                        {{ car_form.esp|as_crispy_field }}
                    </div>
                    <div class="col-4">
                        {{ car_form.alarm|as_crispy_field }}
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-3">
                        {{ car_form.tempomat|as_crispy_field }}
                    </div>
                    <div class="col-3">
                        {{ car_form.putni_racunar|as_crispy_field }}
                    </div>
                    <div class="col-3">
                        {{ car_form.metalik_boja|as_crispy_field }}
                    </div>
                    <div class="col-3">
                        {{ car_form.navigacija|as_crispy_field }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        {{ car_form.svetla_za_maglu|as_crispy_field }}
                    </div>
                    <div class="col-3">
                        {{ car_form.siber|as_crispy_field }}
                    </div>
                    <div class="col-3">
                        {{ car_form.alu_felne|as_crispy_field }}
                    </div>
                    <div class="col-3">
                        {{ car_form.dpf|as_crispy_field }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        {{ car_form.kuka|as_crispy_field }}
                    </div>
                    <div class="col-3">
                        {{ car_form.kamera|as_crispy_field }}
                    </div>
                    <div class="col-3">
                        
                    </div>
                    <div class="col-3">
                        
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-3">
                        {{ car_form.photo1|as_crispy_field }}
                    </div>
                    <div class="col-3">
                        {{ car_form.photo2|as_crispy_field }}
                    </div>
                    <div class="col-3">
                        {{ car_form.photo3|as_crispy_field }}
                    </div>
                    <div class="col-3">
                        {{ car_form.photo4|as_crispy_field }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        {{ car_form.photo5|as_crispy_field }}
                    </div>
                    <div class="col-3">
                        {{ car_form.photo6|as_crispy_field }}
                    </div>
                    <div class="col-3">
                        {{ car_form.photo7|as_crispy_field }}
                    </div>
                    <div class="col-3">
                        {{ car_form.photo8|as_crispy_field }}
                    </div>
                </div>
                <hr>
                {{ car_form.oglas_postavljen|as_crispy_field }}
                {{ car_form.opis|as_crispy_field }}
                <hr class="mt-5 mb-5">
                <input type="submit" value="Postavi oglas" class="btn btn-success">
            </form>
        </div>
    </div>
{% endblock %}

{% block js %}
    {% include "js1.html" %}
{% endblock %}